---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "./index.css";

const title = "Bryan Ramirez Ogando - Full Stack Developer Portfolio";
const description =
  "Bryan Ramirez is a Full Stack Developer with 3 years of experience in building scalable and efficient web applications. Explore the portfolio to see skills, experience, and projects.";
const author = "Bryan Ramirez";
const keywords =
  "Full Stack Developer, Web Development, JavaScript, React, Node.js, Portfolio";
const url = "https://bryantr.dev";
const image = "/img-back.svg";
const year = new Date().getFullYear();

---

<Layout
  title={title}
  description={description}
  author={author}
  keywords={keywords}
  url={url}
  image={image}
>
  <main class="min-h-screen w-full relative">
    <header class="flex flex-wrap justify-between items-center p-4 px-8">
      <div class="flex justify-between items-center w-full lg:w-auto">
        <h1 class="text-[#A6A6A6] hover:text-[#4caaa9] text-3xl">
          <a title="bryantr" href="/">Bryantr</a>
        </h1>
        <button
          id="menu-btn"
          class="lg:hidden text-3xl mt-2 focus:outline-none"
        >
          ☰
        </button>
      </div>
      <nav
        id="menu"
        class="hidden lg:flex flex-wrap items-center justify-end gap-5 text-[#A6A6A6] w-full lg:w-auto"
      >
        <a
          title="skills"
          href="#skills"
          class="hover:text-[#59c4c2] hover:underline">Skills</a
        >
        <a
          title="experience"
          href="#experience"
          class="hover:text-[#59c4c2] hover:underline">Experience</a
        >
        <a
          title="projects"
          href="#projects"
          class="hover:text-[#59c4c2] hover:underline">Projects</a
        >
        <a
          title="contact"
          href="#contact"
          class="hover:text-[#59c4c2] hover:underline">Contact</a
        >
        <div class="pl-5">
          <label class="switch">
            <input type="checkbox" id="dark-mode-toggle" />
            <span class="slider"></span>
          </label>
        </div>
      </nav>
    </header>

    <section
      class="flex flex-col lg:flex-row justify-center items-center h-auto lg:h-[90vh] w-full p-4"
    >
      <div
        class="flex flex-col justify-center items-center text-center lg:text-left lg:w-6/12"
      >
        <h2 class="font-bold text-[#59c4c2] text-3xl">Full Stack Developer</h2>
        <h3 class="text-3xl p-2">Bryan Ramirez</h3>
        <p class="text-lg max-w-lg">
          I am a Full Stack Developer with 3 years of experience. I am
          passionate about building scalable and efficient web applications.
        </p>
        <div class="flex items-center gap-5 mt-5">
          <a
            title="Download CV"
            href="/CV_BryanRamirezEnglish.pdf"
            target="_blank"
            class="bg-transparent border border-[#4caaa9] p-3 px-14 rounded-lg hover:bg-[#4caaa9] transform hover:scale-105 transition-transform duration-300"
          >
            Download CV
          </a>
        </div>
      </div>
      <div class="w-full lg:w-4/12 mt-8 lg:mt-0">
        <img class="w-full" src="/img-back.svg" alt="Background" />
      </div>
    </section>

    <section class="w-full p-8">
      <div class="flex flex-col items-center justify-center">
        <h3 class="mb-6 text-4xl font-bold">About Me</h3>
        <hr class="w-10/12 border-[#59c4c2] mb-10" />
        <div
          class="flex flex-col lg:flex-row justify-center items-center gap-6 lg:w-8/12"
        >
          <div class="flex flex-col items-center w-full lg:w-auto">
            <img
              class="border border-gray-400 rounded-3xl w-10/12 lg:w-7/12"
              src="/image_me.jpg"
              alt="Me"
            />
            <div class="flex justify-center items-center gap-3 mt-4">
              <a
                title="LinkedIn"
                target="_blank"
                class="transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg"
                href="https://www.linkedin.com/in/bryan-ramirez-ogando/"
              >
                <img src="/icon-LinkedIn.svg" alt="LinkedIn" />
              </a>
              <a
                title="GitHub"
                target="_blank"
                class="transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg"
                href="https://github.com/BrokiDev"
              >
                <img src="/icon-github.svg" alt="GitHub" />
              </a>
              <a
                title="Email"
                class="transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg"
                href="mailto:bryantro855@gmail.com"
              >
                <img src="/icon-mail.png" alt="Email" />
              </a>
            </div>
          </div>
          <div
            class="flex flex-col justify-center mt-6 lg:mt-0 w-full lg:w-auto"
          >
            <h3 class="font-bold text-3xl pl-6">Know More About Me</h3>
            <p class="text-lg mt-3 text-[#7D8883] pl-6 text-justify max-w-lg">
              Well-qualified Full Stack Developer familiar with wide range of
              programming utilities and languages. Knowledgeable of backend and
              frontend development requirements. Handles any part of process
              with ease. Collaborative team player with excellent technical
              abilities offering 3 years of related experience.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="skills" class="w-full h-full p-8">
      <div class="flex flex-col items-center justify-center">
        <h3 class="mb-6 text-4xl font-bold">Skills</h3>
        <hr class="w-10/12 border-[#59c4c2] mb-10" />
        <div
          class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-10 lg:gap-16 pb-10"
        >
          <Card title="HTML" img="/skills/icon-html.svg" />
          <Card title="CSS" img="/skills/icon-css.svg" />
          <Card title="TailwindCSS" img="/skills/icon-tailwind.svg" />
          <Card title="JavaScript" img="/skills/icon-javascript.svg" />
          <Card title="Typescript" img="/skills/icon-typescript.svg" />
          <Card title="ReactJS" img="/skills/icon-react.svg" />
          <Card title="NextJS" img="/skills/icon-next.js.svg" />
          <Card title="NodeJS" img="/skills/icon-nodejs.svg" />
          <Card title="ExpressJS" img="/skills/icon-express.svg" />
          <Card title="NestJS" img="/skills/icon-nestjs.svg" />
          <Card title="Redis" img="/skills/icon-redis.svg" />
          <Card title="MongoDB" img="/skills/icon-mongodb.svg" />
          <Card title="PostgreSQL" img="/skills/icon-postgres.svg" />
          <Card title="PrismaORM" img="/skills/icon-prisma-orm.svg" />
          <Card title="TypeORM" img="/skills/icon-typeorm.svg" />
          <Card title="Docker" img="/skills/icon-docker.svg" />
          <Card title="Kubernetes" img="/skills/icon-kubernetes.svg" />
          <Card title="AWS" img="/skills/icon-aws.svg" />
        </div>
      </div>
    </section>

    <section id="experience" class="w-full h-full p-8">
      <div class="flex flex-col items-center justify-center">
        <h3 class="mb-5 text-4xl font-bold">Experience</h3>
        <hr class="w-10/12 border-[#59c4c2] mb-10" />

        <div
          class="flex flex-col items-center gap-1 w-full px-4 md:px-10 lg:px-20 xl:px-36"
        >
        <div
        class="flex flex-col md:flex-row justify-between items-start md:items-center w-full border border-slate-300/30 p-5 transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg cursor-pointer"
      >
        <div class="md:flex-1">
          <h3 class="text-2xl font-bold">Software Engineer</h3>
          <h3 class="text-xl">Grupo Read</h3>
        </div>
        <div class="md:flex-1 mt-4 md:mt-0 text-right md:text-left">
          <h3 class="text-xl font-bold">2024-07 - Present</h3>
          <h3 class="text-xl">Arroyo Hondo, Dominican Republic</h3>
        </div>
        
      </div>

      <div class="border h-12"></div>
          <div
            class="flex flex-col md:flex-row justify-between items-start md:items-center w-full border border-slate-300/30 p-5 transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg cursor-pointer"
          >
            <div class="md:flex-1">
              <h3 class="text-2xl font-bold">Full Stack Developer</h3>
              <h3 class="text-xl">Media Revolution SRL</h3>
            </div>
            <div class="md:flex-1 mt-4 md:mt-0 text-right md:text-left">
              <h3 class="text-xl font-bold">2023-10 - 2024-08</h3>
              <h3 class="text-xl">Distrito Nacional, Dominican Republic</h3>
            </div>
            
          </div>

          <div class="border h-12"></div>

          <div
            class="flex flex-col md:flex-row justify-between items-start md:items-center w-full border border-slate-300/30 p-5 transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg cursor-pointer"
          >
            <div class="md:flex-1">
              <h3 class="text-2xl font-bold">Full Stack Developer</h3>
              <h3 class="text-xl">Independent</h3>
            </div>
            <div class="md:flex-1 mt-4 md:mt-0 text-right md:text-left">
              <h3 class="text-xl font-bold">2022-04 - Present</h3>
              <h3 class="text-xl">Santo Domingo, Dominican Republic</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="projects" class="w-full h-full p-8">
      <div class="flex flex-col items-center justify-center">
        <h3 class="mb-5 text-4xl font-bold">Projects</h3>
        <hr class="w-10/12 border-[#59c4c2] mb-10" />

        <div class="flex flex-wrap gap-8 px-4 md:px-10 lg:px-20 xl:px-36">
          <div
            class="flex flex-col w-full md:w-5/12 lg:w-4/12 border border-slate-300/30 p-5 transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg cursor-pointer"
          >
            <div class="flex-1">
              <h3 class="text-2xl font-bold">Plyn</h3>
              <hr />

              <img
                src="/projects/plyn.png"
                alt="Plyn"
                class="object-contain rounded-lg mt-4"
              />

              <p class="text-lg mt-4">
                Plyn is a web application that allows companies or organizations
                to create and manage their own personal tickets or tasks. It's
                designed to be simple and easy to use.
              </p>

              <div class="flex items-center gap-3 mt-4">
                <a
                  title="View Project"
                  target="_blank"
                  class="transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg"
                  href="https://plyn.bryantr.dev"
                >
                  <img src="/icon-view.svg" width="24" alt="view Project" />
                </a>
                <a
                  target="_blank"
                  class="transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg"
                  href="https://github.com/BrokiDev/Plyn"
                >
                  <img src="/icon-github.svg" alt="GitHub" />
                </a>
              </div>
            </div>
          </div>

          <div
            class="flex flex-col w-full md:w-5/12 lg:w-4/12 border border-slate-300/30 p-5 transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg cursor-pointer"
          >
            <h4 class="text-center">Waiting for deploy....</h4>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="w-full h-full p-8">
      <div class="flex flex-col items-center justify-center">
        <h3 class="mb-5 text-4xl font-bold">Contact</h3>
        <hr class="w-10/12 border-[#59c4c2] mb-10" />
        <div class="flex flex-col items-center gap-5 w-full lg:w-8/12">
          <h3 class="text-2xl font-bold">Contact Me</h3>

          <form
            id="contact-form"
            class="flex flex-col items-center gap-5 w-full lg:w-8/12 text-black"
          >
            <input
              class="w-full p-3 px-5 border border-slate-300/30 rounded-lg"
              type="text"
              name="name"
              placeholder="Name"
            />
            <input
              class="w-full p-3 px-5 border border-slate-300/30 rounded-lg"
              type="email"
              name="email"
              placeholder="Email"
            />
            <textarea
              class="w-full p-3 px-5 border border-slate-300/30 rounded-lg"
              name="message"
              placeholder="Message"></textarea>
            <button
              title="Send"
              class='bg-transparent border  border-[#4caaa9]  p-3 px-14 rounded-lg hover:bg-[#4caaa9] transform hover:scale-105 transition-transform duration-300'
            >
              Send
            </button>
          </form>
        </div>
        <hr class="w-10/12 border-[#59c4c2] mt-10" />
        <h3 class="text-2xl font-bold mt-5">Or Contact Me Through</h3>
        <p class="text-lg mt-3 text-[#7D8883] text-center">
          Feel free to contact me through my social media or email.
        </p>

        <div class="flex justify-center items-center gap-3 mt-5">
          <a
            target="_blank"
            class="transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg"
            href="https://www.linkedin.com/in/bryan-ramirez-ogando/"
          >
            <img src="/icon-LinkedIn.svg" alt="LinkedIn" />
          </a>
          <a
            target="_blank"
            class="transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg"
            href="https://github.com/BrokiDev"
          >
            <img src="/icon-github.svg" alt="GitHub" />
          </a>
          <a
            class="transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg"
            href="mailto:bryantro855@gmail.com"
          >
            <img src="/icon-mail.png" alt="Email" />
          </a>
        </div>
      </div>
    </section>
  </main>

  <footer class="p-8 text-center">
    <p>&copy; Bryantr {year} <span>All rights reserved.</span></p>

    <p>
      Powered in Astro by <a
        title="Bryantr"
        class="hover:text-[#59c4c2] hover:underline"
        href="https://www.linkedin.com/in/bryan-ramirez-ogando/">Bryantr</a
      >
    </p>
  </footer>

  <div class="fixed right-2 bottom-3 md:right-8">
    <button
      id="back-to-top"
      class="py-1 px-3 rounded-full font-bold bg-black text-white"
      >&#x2191;</button
    >
  </div>

  <script
    is:inline
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script is:inline>
    document.getElementById("menu-btn")?.addEventListener("click", function () {
      document.getElementById("menu")?.classList.toggle("show");
    });

    document
      .getElementById("contact-form")
      ?.addEventListener("submit", function (e) {
        e.preventDefault();

        const formData = new FormData(this);

        if (
          !formData.get("name") ||
          !formData.get("email") ||
          !formData.get("message")
        ) {
          Toastify({
            text: "Please fill all the fields",
            duration: 3000,
            close: true,
            gravity: "top",
            position: "right",
            backgroundColor: "#f44336",
            stopOnFocus: true,
          }).showToast();
          return;
        }
        const data = Object.fromEntries(formData.entries());

        fetch("https://api.bryantr.dev/contact", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((res) => res.json())
          .catch((err) => {
            console.error(err);
          });

        Toastify({
          text: "Message sent successfully",
          duration: 3000,
          close: true,
          gravity: "top",
          position: "right",
          backgroundColor: "#4caaa9",
          stopOnFocus: true,
        }).showToast();

        this.reset();
      });

    const button = document.getElementById("back-to-top");

    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 100 ||
        document.documentElement.scrollTop > 100
      ) {
        button.style.display = "block";
      } else {
        button.style.display = "none";
      }
    }

    button.onclick = function () {
      window.scrollTo({ top: 0, behavior: "smooth" });
    };

    const toggleButton = document.getElementById("dark-mode-toggle");
    toggleButton?.addEventListener("click", () => {
      
      const htmlElement = document.documentElement;
      htmlElement.classList.toggle("dark");
      localStorage.setItem(
        "theme",
        htmlElement.classList.contains("dark") ? "dark" : "light"
      );
    });

    localStorage.getItem("theme") === "dark" &&
      document.documentElement.classList.add("dark");

  </script>
</Layout>
