---
interface Props {
  jobTitle: string;
  companyName: string;
  startDate: string;
  endDate: string;
  workLocation: string;
  divisor?:boolean
}

const { jobTitle, companyName, startDate, endDate, workLocation,divisor } = Astro.props;
---

<div
  class="flex flex-col md:flex-row justify-between items-start md:items-center w-full border border-slate-300/30 p-5 transform hover:scale-105 transition-transform duration-300 hover:drop-shadow-lg cursor-pointer"
>
  <div class="md:flex-1">
    <h3 class="text-2xl font-bold">{jobTitle}</h3>
    <h3 class="text-xl">{companyName}</h3>
  </div>
  <div class="md:flex-1 mt-4 md:mt-0 text-right md:text-left">
    <h3 class="text-xl font-bold">{startDate} - {endDate}</h3>
    <h3 class="text-xl">{workLocation}</h3>
  </div>
</div>
{divisor && (<div class="border h-12"></div>)}
